<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['/tabs']" fill="clear">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  
  <div id="card">
  <ion-card>
    <ion-card-header>
      <img src="https://www.pngitem.com/pimgs/m/422-4226028_conker-artwork-conker-conkers-bad-fur-day-png.png" alt="">
      <ion-card-title>Conker's Bad Fur Day</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Conker's Bad Fur Day is a 2001 platform game developed and published by Rare for the Nintendo 64. The game follows Conker, a greedy, hard-drinking red squirrel who must return home to his girlfriend. Most of the game requires the player to complete a linear sequence of challenges that involve jumping over obstacles, solving puzzles, and fighting enemies. A multiplayer mode where up to four players can compete against each other in seven different game types is also included. 
    </ion-card-content>
  </ion-card>
</div>
</ion-content>